.whole-edit-blog {
  height: 100vh;
  display: flex;
  justify-content: center;
  .edit-blog-container {
    background: #ffffff;
    width: 400px;
    height: 600px;
    margin-top: 150px;
    .heading {
      padding: 20px 0px;
    }
    .textarea {
      width: 300px;
      height: auto;
    }
    .button {
      padding-top: 35px;
    }
    background: #dad4d4;
    border-radius: 8px 8px 8px 8px;
    .heading {
      padding-top: 25px;
    }
    .form-fields {
      display: inline-block;
      padding-top: 10px;
    }
  }
  .modal-button {
    background-image: linear-gradient(to top, #973ab7, #673ab7) !important;
  }
}
