.whole-signup {
  display: flex;
  justify-content: center;
  .signup-container {
    background: #dad4d4;
    margin-top: 100px;
    border-radius: 8px 8px 8px 8px;
    width: 400px;
    margin-top: 200px;
    @media only screen and (max-width: 450px) {
      width: 300px !important;
      margin: 100px 10px;
    }
    .heading {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    .form-fields {
      padding: 10px 20px;
      .each-row {
        margin-bottom: 10px;
      }
    }
  }
}
