.no-blogs {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.add-blogs {
  padding: 10px 40px;
}
.main {
  background: #dbdbd4;
}
.blogs {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  .column {
    padding: 10px 20px;
  }
}
