.no-blogs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.title {
  color: #fff;
  margin-top: 100px;
}

.add-blogs {
  display: flex;
  justify-content: center;
  padding: 10px 40px;
}

.blogs {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  .column {
    padding: 10px 20px;
  }
}

.view {
  padding-left: 20px;
  display: inline-block;
}
